.pop-box{
    position:absolute;
    display:flex;
    width:auto;
    height:auto;
    padding:15px;
    border-radius:10px;
    cursor: auto;
    box-sizing: content-box;
    align-self: flex-start;
    z-index: 9999;
    flex-direction: column;
    bottom:65px;
    left:150px;
    background-color: rgb(255, 255, 255);
}
.box-in{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: stretch;
    gap:20px;
    background-color: rgb(255, 255, 255);
}
.box-in p{
    background-color: rgb(255, 255, 255);
color:black;
letter-spacing: normal;
    text-align: left;
    font-size: 14px;
    line-height: 2.25;
}
.Select{
    background-color: rgb(220, 220, 220);
color:black;
border:rgb(0 0 0 / 5%);
padding:1em;
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.pop-box.bg{
    left:220px;
}

.pop-box.ty{
    left:330px;
}
@media screen and (max-width:1000px){
    .pop-box{
        Bottom:215px;
            left:60px; 
    }
    .pop-box.bg{
        Bottom:215px;
            left:60px;   
    }
    .pop-box.ty{
        Bottom:215px;
            left:60px;   
    }
}
